@model ProdCientifica.Models.Asignaturasimparte

@{
    ViewBag.Title = "DetailsAsignaturaImparte";
}


<h2>Asignaturas que Imparte</h2>
<h3>User: @ViewBag.Usuario</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asignatura.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignatura.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asignatura.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignatura.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "AsignaturasImparte")
</p>
