@model ProdCientifica.Models.CursoImpartido

@{
    ViewBag.Title = "Details";
    ViewBag.UserName = Model.Usuario.UserName;
}

<h2>Detalles del Curso Impartido</h2>
<h3>User: @ViewBag.UserName</h3>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Usuario.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProfesorPrincipal)
            </dt>

            <dd>
                 @if (Model.ProfesorPrincipal)
                {
                    <text>Si</text>
                }
                else
                {
                    <text>No</text>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nivel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nivel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CursoimpartidoId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
